.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.firstDiv {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  border: 1px solid black;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-bottom: 15px;
}

.button {
  margin-right: 6px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  height: 30px;
  width: auto;
  min-width: 30px;

  &:hover {
    background-color: aqua;
  }
}

.results {
  height: 30px;
  width: auto;
}